name: My-SB-Deployment-WebApp

trigger:
 branches:
   include:
     - none

pool:
  vmImage: ubuntu-latest

stages:
  - stage: CI
    displayName: Build Stage
    jobs:
      - job: CI
        displayName: Build Job
        steps:

          - checkout: self

          - task: Docker@2
            displayName: Build Docker Image
            inputs:
              containerRegistry:  ACR00
              repository: starbucks-gunjan
              command: 'build'
              Dockerfile: '$(System.DefaultWorkingDirectory)/Dockerfile'
              buildContext: '.'
              tags: dev

          - task: Docker@2
            displayName: Push Image to DockerHub
            inputs:
              containerRegistry:  ACR00
              repository: starbucks-gunjan
              command: 'push'
              tags: dev