name: GitHub-StarBucks-Frontend

trigger:
 branches:
   include:
     - none

pool:
  vmImage: ubuntu-latest

# variables:
#   - group: New

stages:
  # - stage: Build
  #   displayName: Build Stage
  #   jobs:
  #     - job: Build
  #       displayName: Build Job
  #       steps:
  #         - checkout: self
          
  #         - task: NodeTool@0
  #           displayName: Node.Js Tool Installer
  #           inputs:
  #             versionSource: 'spec'
  #             versionSpec: '20.x'


  #         - task: Npm@1
  #           displayName: NPM Install/Package
  #           inputs:
  #             command: 'install'
  #             # command: ci    


  #         - task: Npm@1
  #           displayName: NPM Build
  #           inputs:
  #             command: 'custom'
  #             customCommand: 'run build'


  #         # - task: PublishBuildArtifacts@1
  #         #   displayName: Upload Artifact from Agent to Pipeline
  #         #   inputs:
  #         #     # PathtoPublish: '$(Build.ArtifactStagingDirectory)'
  #         #     PathtoPublish: 'dist'
  #         #     ArtifactName: 'StarBucksV1.2'
  #         #     publishLocation: 'Container'


  #         - task: Npm@1
  #           displayName: Publish to Azure Artifacts
  #           inputs:
  #             command: 'publish'
  #             workingDir: '$(Build.SourcesDirectory)'
  #             publishRegistry: 'useFeed'
  #             publishFeed: '126d3721-e663-43cd-a888-a612bc1d0fdc/0603855c-0156-40c5-9a6d-0c5d69e10840'


  - stage: Deploy
    jobs:
      - job: Deploy
        steps:
          # - task: UniversalPackages@0
          #   inputs:
          #     command: 'download'
          #     downloadDirectory: '$(Pipeline.Workspace)/artifact'
          #     feedsToUse: 'internal'
          #     vstsFeed: 'Star'
          #     vstsFeedPackage: 'starbucks-redesign-1'
          #     vstsPackageVersion: '0.1.0'


          - task: UniversalPackages@0
            inputs:
              command: 'download'
              downloadDirectory: '$(Pipeline.Workspace)/artifact'
              feedsToUse: 'internal'
              vstsFeed: 'Project-5th/Star'
              vstsFeedPackage: 'starbucks-redesign-1'
              vstsPackageVersion: '0.1.0'