name: GitHub-StarBucks-Frontend

trigger:
  branches:
    include:
      - none

pool:
  vmImage: ubuntu-latest

stages:

# =========================
# BUILD STAGE
# =========================
- stage: Build
  displayName: Build Stage
  jobs:
  - job: Build
    displayName: Build Job
    steps:

    - checkout: self

    - task: NodeTool@0
      displayName: Install Node
      inputs:
        versionSpec: '20.x'

    - task: Npm@1
      displayName: npm install
      inputs:
        command: 'ci'
        workingDir: '$(System.DefaultWorkingDirectory)'

    - task: Npm@1
      displayName: npm build
      inputs:
        command: 'custom'
        workingDir: '$(System.DefaultWorkingDirectory)'
        customCommand: 'run build'

    # Publish package to Azure Artifacts (npm feed)
    - task: Npm@1
      displayName: Publish to Azure Artifacts Feed
      inputs:
        command: 'publish'
        workingDir: '$(System.DefaultWorkingDirectory)'
        publishRegistry: 'useFeed'
        publishFeed: 'f5f8a9e9-9ae2-4427-9426-32a272fc9614'

# =========================
# DEPLOY STAGE
# =========================
- stage: Deploy
  displayName: Deploy Stage
  dependsOn: Build
  condition: succeeded()
  jobs:
  - job: Deploy
    displayName: Deploy Job
    steps:

    - task: NodeTool@0
      displayName: Install Node
      inputs:
        versionSpec: '20.x'

    # Authenticate to Azure Artifacts npm feed
    - task: npmAuthenticate@0
      inputs:
        workingFile: $(System.DefaultWorkingDirectory)/.npmrc

   # Download package from Azure Artifacts
    - task: Npm@1
      displayName: Download package from Azure Artifacts
      inputs:
        command: 'custom'
        customCommand: 'install starbucks-redesign-2@0.2.0'

    # - task: Npm@1
    #   displayName: Download package from Azure Artifacts
    #   inputs:
    #     command: 'custom'
    #     workingDir: '$(System.DefaultWorkingDirectory)'
    #     customCommand: 'npm install starbucks-redesign-2@0.2.0'
    #     customRegistry: 'useFeed'
    #     customFeed: '126d3721-e663-43cd-a888-a612bc1d0fdc/0603855c-0156-40c5-9a6d-0c5d69e10840'


    # # Copy package contents to VM
    # - task: CopyFilesOverSSH@0
    #   displayName: Copy files to VM
    #   inputs:
    #     sshEndpoint: 'linux-vm-ssh-connection'
    #     sourceFolder: 'node_modules/starbucks-redesign-1'
    #     contents: '**'
    #     targetFolder: '/var/www/html'
    #     overwrite: true

    # # Restart nginx on VM
    # - task: SSH@0
    #   displayName: Restart nginx
    #   inputs:
    #     sshEndpoint: 'linux-vm-ssh-connection'
    #     runOptions: 'commands'
    #     commands: |
    #       sudo systemctl restart nginx
